In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dataset = pd.read_excel("globalterrorismdb_0221dist.xlsx")

In [3]:
dataset.head(3)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaT,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaT,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaT,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201183 entries, 0 to 201182
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(53), int64(24), object(57)
memory usage: 207.2+ MB

In [5]:
print("Toplam satır ve sütun sayısı:")
dataset.shape

Toplam satır ve sütun sayısı:

(201183, 135)

In [6]:
data =dataset[dataset['gname']!= 'Unknown']

In [7]:
data["gname"].value_counts()

Taliban                                                                             10094
Islamic State of Iraq and the Levant (ISIL)                                          6864
Shining Path (SL)                                                                    4563
Al-Shabaab                                                                           4126
Farabundo Marti National Liberation Front (FMLN)                                     3351
                                                                                    ...
French National                                                                         1
Communist Trade Union Workers                                                           1
Rebels backing deposed Pres. Zviad Gamsakhurdia                                         1
Local Residents                                                                         1
Popular Nationalist Insurgency Command of the Large Brazilian Integralist Family        1
Name: gname, Length: 3670, dtype: int64

In [8]:
fg = [] 
i = 0           # Filtered groups
while i < 10:
    a = data["gname"].value_counts().index[i]
    fg.append(a)
    i += 1

In [9]:
fg

['Taliban',
 'Islamic State of Iraq and the Levant (ISIL)',
 'Shining Path (SL)',
 'Al-Shabaab',
 'Farabundo Marti National Liberation Front (FMLN)',
 "New People's Army (NPA)",
 'Boko Haram',
 'Houthi extremists (Ansar Allah)',
 'Irish Republican Army (IRA)',
 "Kurdistan Workers' Party (PKK)"]

In [10]:
data=data[data['gname'].isin(fg)]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43234 entries, 39 to 201177
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(53), int64(24), object(57)
memory usage: 44.9+ MB

In [12]:
data.head(5)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
39,197001310001,1970,1,31,NaN,0,NaT,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
169,197004020001,1970,4,2,NaN,0,NaT,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
364,197006260001,1970,6,26,NaN,0,NaT,603,United Kingdom,8,...,NaN,NaN,NaN,NaN,CAIN,0,0,1,1,NaN
365,197006270001,1970,6,27,NaN,0,NaT,603,United Kingdom,8,...,NaN,NaN,NaN,NaN,CAIN,0,0,1,1,NaN
366,197006270002,1970,6,27,NaN,0,NaT,603,United Kingdom,8,...,NaN,NaN,NaN,NaN,CAIN,0,0,1,1,NaN

In [13]:
#Removing columns which has 70% null values
def remove_columns_missing_values(data, min_threshold):
    for col in data.columns:
        rate = data[col].isnull().sum()/float(len(data)) * 100
        if rate >= min_threshold:
            data = data.drop(col,1)
    return data

In [27]:
data = remove_columns_missing_values(data, 50)
print ("Total no of features values available :")
len(data.columns)

Total no of features values available :

50

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43234 entries, 39 to 201177
Data columns (total 50 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eventid       43234 non-null  int64
 1   iyear         43234 non-null  int64
 2   imonth        43234 non-null  int64
 3   iday          43234 non-null  int64
 4   extended      43234 non-null  int64
 5   country       43234 non-null  int64
 6   region        43234 non-null  int64
 7   provstate     43234 non-null  object
 8   city          43159 non-null  object
 9   latitude      42078 non-null  float64
 10  longitude     42078 non-null  float64
 11  specificity   43234 non-null  float64
 12  vicinity      43234 non-null  int64
 13  summary       30761 non-null  object
 14  crit1         43234 non-null  int64
 15  crit2         43234 non-null  int64
 16  crit3         43234 non-null  int64
 17  doubtterr     43234 non-null  int64
 18  multiple      43234 non-null  int64
 19  success       43234 non-null  int64
 20  suicide       43234 non-null  int64
 21  attacktype1   43234 non-null  int64
 22  targtype1     43234 non-null  int64
 23  targsubtype1  41656 non-null  float64
 24  corp1         36730 non-null  object
 25  target1       43178 non-null  object
 26  natlty1       42815 non-null  float64
 27  gname         43234 non-null  object
 28  guncertain1   43233 non-null  float64
 29  individual    43234 non-null  int64
 30  nperps        31279 non-null  float64
 31  nperpcap      30574 non-null  float64
 32  claimed       30765 non-null  float64
 33  weaptype1     43234 non-null  int64
 34  weapsubtype1  35543 non-null  float64
 35  weapdetail    22982 non-null  object
 36  nkill         38925 non-null  float64
 37  nkillus       31059 non-null  float64
 38  nkillter      29117 non-null  float64
 39  nwound        36111 non-null  float64
 40  nwoundus      31006 non-null  float64
 41  nwoundte      27907 non-null  float64
 42  property      43234 non-null  int64
 43  ishostkid     43233 non-null  float64
 44  scite1        30756 non-null  object
 45  dbsource      43234 non-null  object
 46  INT_LOG       43234 non-null  int64
 47  INT_IDEO      43234 non-null  int64
 48  INT_MISC      43234 non-null  int64
 49  INT_ANY       43234 non-null  int64
dtypes: float64(17), int64(24), object(9)
memory usage: 16.8+ MB

In [16]:
columns_to_drop = data .columns[data .columns.map(lambda x: 'txt' in x)]
data = data .drop(columns_to_drop,1)

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\2384866985.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data .drop(columns_to_drop,1)

In [17]:
data.dtypes[data.dtypes.map(lambda x: x == 'object')]

provstate     object
city          object
summary       object
corp1         object
target1       object
gname         object
weapdetail    object
scite1        object
dbsource      object
dtype: object

In [30]:
columns_to_drop = ['summary', 'scite1', 'dbsource' , 'provstate','city', 
                    'weapdetail', 'corp1', 'target1']
data = data.drop(columns_to_drop,1)

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\309597853.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(columns_to_drop,1)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43234 entries, 39 to 201177
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eventid       43234 non-null  int64
 1   iyear         43234 non-null  int64
 2   imonth        43234 non-null  int64
 3   iday          43234 non-null  int64
 4   extended      43234 non-null  int64
 5   country       43234 non-null  int64
 6   region        43234 non-null  int64
 7   latitude      42078 non-null  float64
 8   longitude     42078 non-null  float64
 9   specificity   43234 non-null  float64
 10  vicinity      43234 non-null  int64
 11  crit1         43234 non-null  int64
 12  crit2         43234 non-null  int64
 13  crit3         43234 non-null  int64
 14  doubtterr     43234 non-null  int64
 15  multiple      43234 non-null  int64
 16  success       43234 non-null  int64
 17  suicide       43234 non-null  int64
 18  attacktype1   43234 non-null  int64
 19  targtype1     43234 non-null  int64
 20  targsubtype1  41656 non-null  float64
 21  natlty1       42815 non-null  float64
 22  gname         43234 non-null  object
 23  guncertain1   43233 non-null  float64
 24  individual    43234 non-null  int64
 25  nperps        31279 non-null  float64
 26  nperpcap      30574 non-null  float64
 27  claimed       30765 non-null  float64
 28  weaptype1     43234 non-null  int64
 29  weapsubtype1  35543 non-null  float64
 30  nkill         38925 non-null  float64
 31  nkillus       31059 non-null  float64
 32  nkillter      29117 non-null  float64
 33  nwound        36111 non-null  float64
 34  nwoundus      31006 non-null  float64
 35  nwoundte      27907 non-null  float64
 36  property      43234 non-null  int64
 37  ishostkid     43233 non-null  float64
 38  INT_LOG       43234 non-null  int64
 39  INT_IDEO      43234 non-null  int64
 40  INT_MISC      43234 non-null  int64
 41  INT_ANY       43234 non-null  int64
dtypes: float64(17), int64(24), object(1)
memory usage: 14.2+ MB

In [32]:
columns_to_drop = ['INT_LOG' , 'INT_MISC', 'INT_ANY', 'INT_IDEO']
data = data.drop(columns_to_drop,1)

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\1035044692.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(columns_to_drop,1)

In [34]:
columns_to_drop = ['latitude','longitude','specificity']
data = data.drop(columns_to_drop,1)

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\2208323059.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(columns_to_drop,1)

In [35]:
data = data.drop('eventid',1)

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\1406236784.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('eventid',1)

In [36]:
sum(data.extended) / float(len(data))

0.06444002405514179

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43234 entries, 39 to 201177
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iyear         43234 non-null  int64
 1   imonth        43234 non-null  int64
 2   iday          43234 non-null  int64
 3   extended      43234 non-null  int64
 4   country       43234 non-null  int64
 5   region        43234 non-null  int64
 6   vicinity      43234 non-null  int64
 7   crit1         43234 non-null  int64
 8   crit2         43234 non-null  int64
 9   crit3         43234 non-null  int64
 10  doubtterr     43234 non-null  int64
 11  multiple      43234 non-null  int64
 12  success       43234 non-null  int64
 13  suicide       43234 non-null  int64
 14  attacktype1   43234 non-null  int64
 15  targtype1     43234 non-null  int64
 16  targsubtype1  41656 non-null  float64
 17  natlty1       42815 non-null  float64
 18  gname         43234 non-null  object
 19  guncertain1   43233 non-null  float64
 20  individual    43234 non-null  int64
 21  nperps        31279 non-null  float64
 22  nperpcap      30574 non-null  float64
 23  claimed       30765 non-null  float64
 24  weaptype1     43234 non-null  int64
 25  weapsubtype1  35543 non-null  float64
 26  nkill         38925 non-null  float64
 27  nkillus       31059 non-null  float64
 28  nkillter      29117 non-null  float64
 29  nwound        36111 non-null  float64
 30  nwoundus      31006 non-null  float64
 31  nwoundte      27907 non-null  float64
 32  property      43234 non-null  int64
 33  ishostkid     43233 non-null  float64
dtypes: float64(14), int64(19), object(1)
memory usage: 11.5+ MB

In [20]:
#Total no of null values present in data
data.isnull().values.sum()

166203

In [21]:
features = data.fillna(data.median())

C:\Users\okgkc\AppData\Local\Temp\ipykernel_26076\2611904066.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  features = data.fillna(data.median())

In [22]:
features.isnull().values.sum()

51838

In [23]:
features["gname"].unique()

array(["New People's Army (NPA)", 'Irish Republican Army (IRA)',
       'Shining Path (SL)',
       'Farabundo Marti National Liberation Front (FMLN)',
       "Kurdistan Workers' Party (PKK)", 'Taliban',
       'Houthi extremists (Ansar Allah)', 'Al-Shabaab', 'Boko Haram',
       'Islamic State of Iraq and the Levant (ISIL)'], dtype=object)

In [24]:
features_new = features.drop("gname" , axis=1)
gname = features["gname"]
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(gname)
gname_encoded = le.transform(gname)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_new, 
                                                    gname_encoded, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
clf = RandomForestClassifier()
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)
important_features = clf.feature_importances_
acc = accuracy_score(y_test , pred)
acc

ValueError: could not convert string to float: 'Chalatenango'